 @import "bootstrap";

 // ___Color Codes___ //
 $bodyColor: #4ABDAC;
 $headerColor: #F7B733;
 $textColor: #DFDCE3;
 $aColor: #FC4A1A;

// General Styles //
.alertCard li {
  list-style-type: none;
}

body {
  background-color: $bodyColor;
  color: $textColor;
}

a {
  color: $aColor;
}

// Header Styles //
header {
  z-index: 1;
  padding: 10px;
  background-color: $headerColor;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  display: inline-flex;
}

header h3 {
  position: fixed;
  right: 0;
  margin-right: 20px;
}

header a {
  font-size: 1.2em;
}

header li {
  list-style-type: none;
}
