 @import "bootstrap";

// General Styles //
.alertCard li {
  list-style-type: none;
}

.card {
  background-color: purple;
}

// Header Styles //
header {
  z-index: 1;
  padding: 10px;
  background-color: blue;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  display: inline-flex;
}

header h3 {
  color: green;
  position: fixed;
  right: 0;
  margin-right: 20px;
}

header a {
  font-size: 1.2em;
}

header li {
  list-style-type: none;
}
